# Directories #
[Bb]in/
[Oo]bj/
[Ll]og[s]/
[Pp]roperties/
[Tt]est[Rr]esults/
[Nn]ode_modules/

# Files #
*.swp
*.swo
*.*~
project.lock.json
.DS_Store
*.pfx
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.servicehub.log
*.dbmdl
*.jfm
*.tlog
*.vs/
*.vscode/
*.idea/
*.log
*.sql
*.sqlite
*.sqlite3
*.db
*.db3
*.tmp
*.tmp_proj
*.tmp_proj_ab
*.cache
*.bak
*.ncb
*.sdf
*.mdf
*.ldf
*.kproj
*.appxrecipe
*.appxupload
*.vspscc
*.vssscc
*.pubxml
*.publishsettings
*.esproj
*.swp
*.user
*.vsproj
*.swt
*.dotCover

# Resharper #
_ReSharper*/
*.[Rr]es[Ss]harper

# Rider #
.idea/

# User-specific files #
*.suo
*.user
*.userosscache
*.sln.docstates

# MonoDevelop/Xamarin Studio #
*.userprefs
*.pidb

# Build results #
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og[s]/
[Pp]roperties/
[Tt]est[Rr]esults/
*.psess
*.vsp
*.vspx
*.sap

# ASP.NET Scaffolding #
ScaffoldingReadMe.txt

# Visual Studio Code #
.vscode/*

# Rider #
.idea/
