# Directories #
[Bb]in/
[Oo]bj/
[Ll]og[s]/
[Pp]roperties/
[Tt]est[Rr]esults/
[Nn]ode_modules/

# Files #
*.swp
*.swo
*.*~
project.lock.json
.DS_Store
*.pfx
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.servicehub.log
*.dbmdl
*.jfm
*.tlog
*.vs/
*.vscode/
*.idea/
*.log
*.sql
*.sqlite
*.sqlite3
*.db
*.db3
*.tmp
*.tmp_proj
*.tmp_proj_ab
*.cache
*.bak
*.ncb
*.sdf
*.mdf
*.ldf
*.kproj
*.appxrecipe
*.appxupload
*.vspscc
*.vssscc
*.pubxml
*.publishsettings
*.esproj
*.swp
*.user
*.vsproj
*.swt
*.dotCover

# Resharper #
_ReSharper*/
*.[Rr]es[Ss]harper

# Rider #
.idea/

# User-specific files #
*.suo
*.user
*.userosscache
*.sln.docstates

# MonoDevelop/Xamarin Studio #
*.userprefs
*.pidb

# Build results #
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og[s]/
[Pp]roperties/
[Tt]est[Rr]esults/
*.psess
*.vsp
*.vspx
*.sap

# ASP.NET Scaffolding #
ScaffoldingReadMe.txt

# Visual Studio Code #
.vscode/*

# Rider #
.idea/
EmotesForTeam/obj/Debug/net6.0/EmotesForTeam.sourcelink.json
*.gz
*.dll
*.dll
*.pdb
*.dll
*.bin
*.cs
*.gz
*.dll
*.dll
*.gz
*.cache
*.dll
*.dll
*.bin
*.json
EmotesForTeam/obj/Debug/net6.0/EmotesForTeam.pdb
*.editorconfig
*.txt
*.cache
*.cache
*.pdb
*.exe
ApiCardTeam/bin/Debug/net8.0/ApiCardEmotes.exe
*.sqlite
.vs/EmotesInTeam/v17/.wsuo
*.bin
*.v2
*.v2
ApiCardTeam/.vs/ApiCardEmotes/v17/.suo
*.pdb
*.dll
*.cache
*.cache
*.sqlite
*.dll
*.pdb
*.dll
EmotesForTeam/.vs/TeamEmotes/v17/.suo
*.json
EmotesForTeam/bin/Debug/net6.0/wwwroot/_framework/EmotesForTeam.dll
EmotesForTeam/bin/Debug/net6.0/wwwroot/_framework/blazor.boot.json.gz
EmotesForTeam/bin/Debug/net6.0/wwwroot/_framework/blazor.boot.json
EmotesForTeam/bin/Debug/net6.0/EmotesForTeam.staticwebassets.runtime.json
EmotesForTeam/obj/Debug/net6.0/compressed/sgp0xd2lwq.gz
EmotesForTeam/obj/Debug/net6.0/compressed/uji5zuu4c3.gz
EmotesForTeam/obj/Debug/net6.0/EmotesForTeam.AssemblyInfoInputs.cache
*.cache
EmotesForTeam/obj/Debug/net6.0/EmotesForTeam.assets.cache
