@page "/"

<div className="w-[1440px] h-[2724px] flex-col justify-center items-start inline-flex">
    <div className="w-[1440px] h-[124px] relative bg-white border border-slate-300 border-opacity-40 flex-col justify-start items-start flex">
        <div className="w-[492px] h-11 relative">
            <div className="w-[492px] h-11 left-0 top-0 absolute opacity-80 bg-white rounded-[70px] border border-slate-300" />
            <div className="w-[15px] h-[15px] left-[30px] top-[14px] absolute bg-indigo-400 rounded-[20px]" />
            <div className="w-[115.38px] h-[15px] left-[59px] top-[14px] absolute bg-indigo-50 rounded-[20px]" />
        </div>
        <div className="w-11 h-11 relative">
            <div className="w-11 h-11 left-0 top-0 absolute opacity-80 bg-white rounded-[90px] border border-slate-300" />
            <div className="w-6 h-6 left-[10px] top-[10px] absolute justify-center items-center inline-flex">
                <div className="w-6 h-6 relative">
                </div>
            </div>
        </div>
        <div className="w-11 h-11 relative">
            <div className="w-11 h-11 left-0 top-0 absolute opacity-80 bg-white rounded-[90px] border border-slate-300" />
            <div className="w-6 h-6 left-[10px] top-[10px] absolute justify-center items-center inline-flex">
                <div className="w-6 h-6 relative">
                </div>
            </div>
        </div>
        <div className="w-11 h-11 relative">
            <div className="w-11 h-11 left-0 top-0 absolute opacity-80 bg-white rounded-[90px] border border-slate-300" />
            <div className="w-6 h-6 left-[10px] top-[10px] absolute justify-center items-center inline-flex">
                <div className="w-6 h-6 relative">
                </div>
            </div>
        </div>
        <div className="w-11 h-11 relative">
            <div className="w-11 h-11 left-0 top-0 absolute opacity-80 bg-white rounded-[90px] border border-slate-300" />
            <div className="w-6 h-6 left-[10px] top-[10px] absolute justify-center items-center inline-flex">
                <div className="w-6 h-6 relative">
                </div>
            </div>
        </div>
        <div className="w-[116px] h-4 bg-indigo-400 rounded-[20px]" />
    </div>
    <div className="w-[1440px] h-[2120px] relative bg-neutral-100 flex-col justify-start items-start flex">
        <div className="w-[640px] h-[360px] pl-80 pr-[260px] bg-white rounded-[10px] justify-end items-center inline-flex">
            <div className="w-[60px] self-stretch justify-center items-center inline-flex">
                <div className="w-[60px] h-[60px] relative">
                </div>
            </div>
        </div>
        <div className="w-[640px] h-[360px] pl-80 pr-[260px] bg-white rounded-[10px] justify-end items-center inline-flex">
            <div className="w-[60px] self-stretch justify-center items-center inline-flex">
                <div className="w-[60px] h-[60px] relative">
                </div>
            </div>
        </div>
        <div className="w-[582px] h-[136px] relative rounded-[10px]">
            <div className="w-[582px] h-[136px] left-0 top-0 absolute bg-white rounded-[10px]" />
            <div className="w-[116px] h-4 left-[24px] top-[24px] absolute bg-indigo-400 rounded-[20px]" />
            <div className="w-[116px] h-10 left-[24px] top-[66px] absolute">
                <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
            </div>
            <div className="w-[116px] h-10 left-[442px] top-[66px] absolute">
                <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
            </div>
            <div className="w-[116px] h-10 left-[233px] top-[66px] absolute">
                <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
            </div>
        </div>
        <div className="w-[582px] h-[136px] relative rounded-[10px]">
            <div className="w-[582px] h-[136px] left-0 top-0 absolute bg-white rounded-[10px]" />
            <div className="w-[116px] h-4 left-[24px] top-[24px] absolute bg-indigo-400 rounded-[20px]" />
            <div className="w-[116px] h-10 left-[24px] top-[66px] absolute">
                <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
            </div>
            <div className="w-[116px] h-10 left-[233px] top-[66px] absolute">
                <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
            </div>
            <div className="w-[116px] h-10 left-[442px] top-[66px] absolute">
                <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
            </div>
        </div>
        <div className="origin-top-left -rotate-90 w-[60px] h-[60px] relative">
            <div className="w-[42px] h-[60px] left-0 top-0 absolute origin-top-left -rotate-90 bg-blue-600 bg-opacity-25 rounded-[10px] blur-2xl" />
            <div className="w-[60px] h-[60px] left-0 top-0 absolute origin-top-left -rotate-90 bg-blue-600 rounded-[10px]" />
        </div>
        <div className="flex-col justify-start items-start gap-5 inline-flex">
            <div className="justify-start items-start gap-[1076px] inline-flex">
                <div className="w-[132px] h-11 px-5 rounded justify-center items-center gap-2 flex">
                    <div className="w-[92px] h-6 text-center text-slate-400 text-base font-semibold font-['Plus Jakarta Sans']">Popular Car</div>
                </div>
                <div className="w-[104px] h-11 px-5 rounded justify-center items-center gap-2 flex">
                    <div className="w-16 h-6 text-center text-blue-600 text-base font-semibold font-['Plus Jakarta Sans']">View All</div>
                </div>
            </div>
            <div className="justify-start items-start gap-8 inline-flex">
                <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                    <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                    <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                        <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                        <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                        <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                        <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                        <div className="w-6 h-6 relative">
                        </div>
                    </div>
                    <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                        <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                        <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                        <div className="w-[60px] h-[60px] relative">
                        </div>
                    </div>
                </div>
                <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                    <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                    <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                        <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                        <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                        <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                        <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                        <div className="w-6 h-6 relative">
                        </div>
                    </div>
                    <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                        <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                        <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                        <div className="w-[60px] h-[60px] relative">
                        </div>
                    </div>
                </div>
                <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                    <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                    <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                        <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                        <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                        <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                        <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                        <div className="w-6 h-6 relative">
                        </div>
                    </div>
                    <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                        <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                        <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                        <div className="w-[60px] h-[60px] relative">
                        </div>
                    </div>
                </div>
                <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                    <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                    <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                        <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                        <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                        <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                        <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                        <div className="w-6 h-6 relative">
                        </div>
                    </div>
                    <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                        <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                        <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                    </div>
                    <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                        <div className="w-[60px] h-[60px] relative">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div className="flex-col justify-start items-start gap-5 inline-flex">
            <div className="w-[196px] h-11 px-5 rounded justify-center items-center gap-2 inline-flex">
                <div className="w-[156px] h-6 text-center text-slate-400 text-base font-semibold font-['Plus Jakarta Sans']">Recomendation Car</div>
            </div>
            <div className="flex-col justify-start items-start gap-8 flex">
                <div className="justify-start items-start gap-8 inline-flex">
                    <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                        <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                        <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                            <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                            <div className="w-6 h-6 relative">
                            </div>
                        </div>
                        <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                            <div className="w-[60px] h-[60px] relative">
                            </div>
                        </div>
                    </div>
                    <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                        <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                        <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                            <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                            <div className="w-6 h-6 relative">
                            </div>
                        </div>
                        <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                            <div className="w-[60px] h-[60px] relative">
                            </div>
                        </div>
                    </div>
                    <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                        <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                        <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                            <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                            <div className="w-6 h-6 relative">
                            </div>
                        </div>
                        <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                            <div className="w-[60px] h-[60px] relative">
                            </div>
                        </div>
                    </div>
                    <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                        <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                        <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                            <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                            <div className="w-6 h-6 relative">
                            </div>
                        </div>
                        <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                            <div className="w-[60px] h-[60px] relative">
                            </div>
                        </div>
                    </div>
                </div>
                <div className="justify-start items-start gap-8 inline-flex">
                    <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                        <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                        <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                            <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                            <div className="w-6 h-6 relative">
                            </div>
                        </div>
                        <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                            <div className="w-[60px] h-[60px] relative">
                            </div>
                        </div>
                    </div>
                    <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                        <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                        <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                            <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                            <div className="w-6 h-6 relative">
                            </div>
                        </div>
                        <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                            <div className="w-[60px] h-[60px] relative">
                            </div>
                        </div>
                    </div>
                    <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                        <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                        <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                            <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                            <div className="w-6 h-6 relative">
                            </div>
                        </div>
                        <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                            <div className="w-[60px] h-[60px] relative">
                            </div>
                        </div>
                    </div>
                    <div className="w-[304px] h-[388px] relative bg-white rounded-[10px]">
                        <div className="w-[116px] h-10 left-[164px] top-[310px] absolute bg-blue-600 rounded-[10px]" />
                        <div className="w-[116px] h-10 left-[24px] top-[310px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-64 h-4 left-[24px] top-[258px] absolute">
                            <div className="w-[68px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[94px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                            <div className="w-[68px] h-4 left-[188px] top-0 absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-6 h-6 left-[256px] top-[24px] absolute justify-center items-center inline-flex">
                            <div className="w-6 h-6 relative">
                            </div>
                        </div>
                        <div className="w-[116px] h-10 left-[24px] top-[24px] absolute">
                            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
                            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
                        </div>
                        <div className="w-[60px] h-[60px] left-[122px] top-[131px] absolute justify-center items-center inline-flex">
                            <div className="w-[60px] h-[60px] relative">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div className="w-[116px] h-10 bg-blue-600 rounded-[10px]" />
        <div className="w-[140px] h-6 text-right text-slate-400 text-sm font-bold font-['Plus Jakarta Sans']">120 Car</div>
    </div>
    <div className="w-[1440px] h-[480px] relative bg-white flex-col justify-start items-start flex">
        <div className="w-[116px] h-10 relative">
            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
            <div className="w-[116px] h-4 left-0 top-[24px] absolute bg-indigo-50 rounded-[20px]" />
        </div>
        <div className="w-[116px] h-[148px] relative">
            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
            <div className="w-[116px] h-[100px] left-0 top-[48px] absolute">
                <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[28px] absolute bg-indigo-50 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[56px] absolute bg-indigo-50 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[84px] absolute bg-indigo-50 rounded-[20px]" />
            </div>
        </div>
        <div className="w-[116px] h-[148px] relative">
            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
            <div className="w-[116px] h-[100px] left-0 top-[48px] absolute">
                <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[28px] absolute bg-indigo-50 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[56px] absolute bg-indigo-50 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[84px] absolute bg-indigo-50 rounded-[20px]" />
            </div>
        </div>
        <div className="w-[116px] h-[148px] relative">
            <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-400 rounded-[20px]" />
            <div className="w-[116px] h-[100px] left-0 top-[48px] absolute">
                <div className="w-[116px] h-4 left-0 top-0 absolute bg-indigo-50 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[28px] absolute bg-indigo-50 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[56px] absolute bg-indigo-50 rounded-[20px]" />
                <div className="w-[116px] h-4 left-0 top-[84px] absolute bg-indigo-50 rounded-[20px]" />
            </div>
        </div>
        <div className="w-[1320px] h-[0px] origin-top-left -rotate-180 border border-neutral-900 border-opacity-20"></div>
        <div className="w-[116px] h-4 bg-indigo-400 rounded-[20px]" />
        <div className="w-[116px] h-4 bg-indigo-50 rounded-[20px]" />
        <div className="w-[116px] h-4 bg-indigo-50 rounded-[20px]" />
    </div>
</div>