@inherits EmotesForTeam.Components.PaginationBase

<div class="flex justify-center space-x-2">
    @if (TotalPages > 1)
    {
        <button class="p-2 border border-gray-300 rounded" @onclick="GoToFirstPage" disabled="@IsFirstPage()">«</button>

        @for (var page = 1; page <= TotalPages; page++)
        {
            <button class="@GetButtonClass(page)" @onclick="() => SelectPage(page)">
            @page "/pagination"
            </button>
        }

        <button class="p-2 border border-gray-300 rounded" @onclick="GoToLastPage" disabled="@IsLastPage()">»</button>
    }
</div>

@code {
    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }
}
